<article class="card">
<div class="card-body" >
    <p>{{this.origin}}</p>
    <p>{{this.shortUrl}}</p>
    <a href="/eliminar/{{this._id}}" class="btn btn-danger" >ELIMINAR</a>
    <a href="/editar/{{this._id}}" class="btn btn-warning">EDITAR</a>
    <button class="btn btn-primary" data-short="{{this.shortUrl}}">COPIAR</button>

</div>

</article>